{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="text-center mt-4" style="border-radius: 0.5rem;">
        <h1 class="mb-4" style="color: #1689b9;">Welcome, User!</h1>
        <p style="color: #0a507c;">Use the navigation bar to access clients and invoices.</p>
    </div>
{% endblock %}
