{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="text-center mt-4" style="border-radius: 0.5rem; color: #0a507c;">
        <h1 class="mb-4" style="color: #1689b9;">Bienvenue sur le Dashboard</h1>

        <p>Vous êtes connecté en tant que <strong>{{ app.user.email }}</strong></p>

    </div>
{% endblock %}
