{% block body %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #edf8ff; 
        }
        
        .card {
            background-color: #fefefe; 
            color: #0a507c; 
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 800px;
        }
        
        .btn-primary {
            background-color: #1689b9;
            border-color: #1689b9;
            color: white;
            text-decoration: none; 
            padding: 10px 20px;
            border-radius: 0.3rem;
            cursor: pointer;
            font-size: 1rem;
            margin-top: 1rem;
            transition: background-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #0a507c;
            border-color: #0a507c;
        }

        h1, p {
            color: #0a507c;
        }
    </style>

    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="card">
            <h1 class="mb-4 fw-bold">Welcome to FacturEase CRM</h1>
            <p class="mb-5">
                The purpose of the project is to develop a CRM. A user should have the ability to manage their clients. And for each client, enter their invoices.
            </p>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg px-5">
                Login
            </a>
        </div>
    </div>
{% endblock %}
